/* 首页模块盒子 开始 */
.index_pro_box{
	padding:20px 0;
	overflow:hidden;
}
.index_m{
	background:#fff;
	overflow:hidden;
}
/* 首页模块盒子 结束 */

/* 首页banner开始 */
.banner {
	width:100%;
	height:350px;
	overflow:hidden;
	position:relative;
	transition:all 0.3s;
	-moz-transition:all 0.3s; /* Firefox 4 */
	-webkit-transition:all 0.3s; /* Safari and Chrome */
	-o-transition:all 0.3s; /* Opera */
}
.banner .banner_cont {
	position:relative;
	height:100%;
	z-index:0;
}
.banner .banner_cont li {
	zoom:1;
	vertical-align:middle;
}
.banner .banner_cont a {
	display:block;
	margin:0 auto;
	height:350px;
	width:100%;
}
.banner .fy_box{
	position:relative;
	margin-top:-203px;
	width:1284px;
	height:57px;
	z-index:9;
	transition:all 0.3s;
	-moz-transition:all 0.3s; /* Firefox 4 */
	-webkit-transition:all 0.3s; /* Safari and Chrome */
	-o-transition:all 0.3s; /* Opera */
}
.banner .prev,.banner .next {
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-webkit-opacity: 0.4;
	-o-opacity: 0.4;
	opacity: 0.4;
	position:absolute;
	top:0;
	display:none;
	width:42px;
	height:57px;
	background:url(../images/slider-arrow.png) no-repeat;
}
.banner .prev{
	left:0;
}
.banner .next {
	right:0;
	background-position:0 -57px;
}

.banner .prev:hover, .banner .next:hover {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-webkit-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}
.banner:hover .fy_box{width:1200px;}
.banner .prevStop {
	display:none;
}
.banner .nextStop {
	display:none;
}
.banner .btn_tit{
	position:relative;
  	width: 100%;
  	height: 52px;
  	margin-top: -52px;
  	background: transparent url(../images/linearbot.png) repeat-x left top;
  	text-align: center;
  	z-index: 5;
}
.banner .btn_tit span {
  margin: 0 5px;
  padding: 2px 6px;
  background: transparent url(../images/nav.png) no-repeat center center;
  cursor: pointer;
  *display:inline-block;
  line-height:20px;
}
.banner .btn_tit span.on {
	background-image:url(../images/navcur.png);
}
/* 首页banner结束 */

/* reg_user 开始 */
.reg_user{
	padding:30px 0;
}
.reg_user .reg_user_list{
	width:1200px;
	overflow:hidden;
}
.reg_user li .user_img{
	position:absolute;
	top:0;
	left:0;
	z-index:99;
}
.reg_user li .user_img a ,
.reg_user li .user_img a img{
	width:106px;
	height:106px;
	-moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
} 
.reg_user li:hover .user_img a ,
.reg_user li:hover .user_img a img{
	width:104px;
	height:102px;
	-moz-border-radius:0; -khtml-border-radius:0; -webkit-border-radius:0; border-radius:0;
}
.reg_user li{
	width:109px;
	height:109px;
	position:relative;
	float:left;
	display:inline;
}
.reg_user li .reg_user_item{
	width:106px;
	height:106px;
	padding:0 3px 3px 0;
	float:left;
	background:#fff;
}
.reg_user li.last{
	margin-right:0;
}
.reg_user li .user_text{
	position:absolute;
	top:0;
	z-index:98;
	width:186px;
	height:72px;
	padding:15px;
	background:#fff;
	border:2px solid #3d9eeb;
}
.reg_user li.left_o .user_text{
	left:-96px;
	border-left:0;
}
.reg_user li.right_o .user_text{
	right:-93px;
	border-right:0;
}
.reg_user li.left_o .user_img{
	border-right:0;
}
.reg_user li.right_o .user_img{
	border-left:0;
}
.reg_user li .user_text .user_name {
  height: 17px;
  line-height: 17px;
  float: left;
  display: inline;
  margin-right: 6px;
}
.reg_user li .user_text_1 ,
.reg_user li .user_text_2 ,
.reg_user li .user_text_3{
	margin-bottom: 5px;
}
.reg_user li .user_text_1 i {
  height:17px;
  display: inline;
  float: left;
  margin-right:6px;
}
.reg_user li .user_text_3 i{
	color:#999;
}
.reg_user .index_title .more_browse{
	border:0;
	height:28px;
	line-height:28px;
	color:#fff;
}
.reg_user .btn_recommend_project {
  	width: 63px;
  	height: 22px;
  	line-height: 22px;
  	border: 1px solid #e5e5e5;
  	text-align: center;
  	display: block;
    margin: 0;
  	float: right;
}
/* reg_user 结束 */

/* reg_users 开始 */
.reg_users .index_register_btn{
	overflow: hidden;
	padding: 12px 0;
}

.reg_users .ui_button{
	padding:12px 80px;
	display:inline;
	float:none;
}
.reg_users .reg_users_list{
	overflow:hidden;
	height:236px;
}
.reg_users li{
	position:relative;
	width:130px;
	height:185px;
	float:left;
	border:1px solid #e3e3e3;
	text-align:center;
	padding:10px;
	margin-right:22px;
}
.reg_users li:hover{
}
.reg_users li.last{
	margin-right:0;
}
.reg_users li a.reg_user_items{
	width:100%;
	height:100%;
	display:block;
}
.reg_users li .user_img ,
.reg_users li .user_img a ,
.reg_users li .user_img img{
	width:100px;
	height:100px;
	border-radius:50%;
	overflow:hidden;
}
.reg_users li .user_text_1 {
	text-align: center;
}
.reg_users li .user_name { 
	float: none;
	margin: 0;
}
.reg_users li .level_icon {
	float: none;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline;
	margin: 0;
	padding: 0;
}
.reg_users li .investor_type {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.reg_users li .user_text_2,.reg_users li .user_text_3{
	color:#999;
	height:22px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.reg_users li .user_text_3 .iconfont{font-size:14px;}
.reg_users .btn_recommend_project{
	position:absolute;
	bottom:-1px;
	left:0;
	width:150px;
  	height:24px;
  	line-height:24px;
  	text-align: center;
  	color:#fff;
  	display:none;
}
/* reg_users 结束 */

/* index_success 开始 */
.index_success{
	background:#fafafa;
}
.index_success .project_title{
	height:24px;
	line-height:24px;
}
.index_success .project_num{
	padding:11px 15px;
	overflow:hidden;
}
.index_success .project_num div{
	width:50%;
	float:left;
	overflow:hidden;
}
.index_success label{
	color:#999;
	font-size:12px;
}
.index_success .nav_item{
	height:auto;
	margin-bottom:0;
}
.nav_item:hover{
	border:1px solid #188eee;
}
.index_success .project_image{
	position:relative;
	overflow:hidden;
}
.index_success .item_info{
	position: absolute;
  	left: 0;
  	bottom:-94px;
  	width:100%;
  	height:94px;
  	color: #fff;
  	-webkit-transition: all .2s;
  	-moz-transition: all .2s;
  	-ms-transition: all .2s;
  	-o-transtion: all .2s;
}
.index_success .mask_text{
	position:absolute;
	z-index:99;
	font-size:12px;
	padding:15px;
	width:255px;
}
.index_success .mask_bg {
	position:absolute;
 	top:0;
  	left:0;
  	z-index:98;
  	width:100%;
  	height:100%;
  	background:#000;
  	filter:alpha(opacity=80);
  	-moz-opacity: 0.8;
  	-khtml-opacity: 0.8;
  	opacity: 0.8;
}
.index_success a:hover .item_info{bottom:0;}
/* index_success 结束 */

/* index_recommend 开始 */
.index_recommend{
	background:#f4f6fa;
	padding:30px 0;
}
.index_recommend .recommend1{
	width:
}
.index_recommend .recommend1 a{
	float:left;
	width:290px;
	height:160px;
	margin-right:13px;
}
.index_recommend .recommend1 a.last{
	margin-right:0;
}
.index_recommend .recommend_left {
	position:relative;
	width:592px;
	overflow:hidden;
	margin-right:17px;
}
.index_recommend .recommend_left a ,
.index_recommend .recommend_left a img{
	display: block;
  	width: 100%;
  	height: 100%;
  	overflow: hidden;
}
.index_recommend .recommend_m a{
  	text-decoration:none;
  	position:relative;
}
.index_recommend .recommend_m .item_info{
	position:absolute;
	left:0;
	color:#fff;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transtion: all .5s;	
}
.index_recommend .recommend_m a:hover .item_info{
	bottom:0;
}
.index_recommend .recommend_m .mask_text{
	position:absolute;
	z-index:99;
	width:100%;
	height:100%;
}
.index_recommend .recommend_m .other_info{
	display:inline-block;
	font-size:0;
  	padding-top:9px;
}
.index_recommend .recommend_m .other_info .every_info{
	float:left;
	display:inline;
}
.index_recommend .recommend_m .other_info .every_info em{
  	display: inline-block;
  	width: 100%;
  	text-align: center;
}
.index_recommend .recommend_m .other_info .every_info em.info_num{
  	font-size: 14px;
  	font-family: Verdana;
  	line-height: 14px;
}
.index_recommend .recommend_m .other_info .every_info em.info_name{
  	font-size: 12px;
  	line-height: 12px;
  	font-family: "SimSun";
  	margin-top: 7px;
}
.index_recommend .recommend_m .mask_bg{
	position:absolute;
	top:0;
	left:0;
	z-index:98;
	width:100%;
	height:100%;
	background:#000;
	filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5; opacity: 0.5;
}
.index_recommend .recommend_left .special_hd{
	position:absolute;
	top:0;
	right:0;
}
.index_recommend .recommend_left .special_hd ul{
	float:left;
}
.index_recommend .recommend_left .special_hd li{
	width:10px;
	height:10px;
	background:#fff;
	border:1px solid #e5e5e5;
	float:left;
	margin-left:5px;
	text-indent:-999em;
}
.index_recommend .recommend_left .special_hd a{
	width:22px;
	height:26px;
	line-height:26px;
	border:1px solid #dedede;
	display:block;
	float:left;
	font:20px/26px 'SimSun';
	text-align:center;
	background:#fff;
	border-radius:3px;
	cursor:pointer;
}
.index_recommend .recommend_left .special_hd a.prev{
	margin-left:8px;
}
.index_recommend .recommend_left .special_hd a:hover{
	color:#fff;
}
.index_recommend .recommend_left .item_info{
	bottom:-61px;
	width:590px;
	height:100px;
}
.index_recommend .recommend_right .item_info{
	bottom:-55px;
	width:288px;
	height:86px;
}
.index_recommend .recommend_left .fy_box {
	position:absolute;
	top:50%;
	margin:0 auto;
	margin-top:-28px;
	left:50%;
	margin-left:-250px;
	width:500px;
	height:57px;
}
.index_recommend .recommend_left .fy_box .prev ,
.index_recommend .recommend_left .fy_box .next {
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-webkit-opacity:0.4;
	-o-opacity:0.4;
	opacity:0.4;
	position:absolute;
	top:0;
	display:none;
	width:42px;
	height:57px;
	background:url(../images/slider-arrow.png) no-repeat;
}
.index_recommend .recommend_left .fy_box .prev {
  left: 0;
}
.index_recommend .recommend_left .fy_box .next {
  right: 0;
  background-position: 0 -57px;
}
.index_recommend .recommend_left .fy_box .prev:hover ,
.index_recommend .recommend_left .fy_box .next:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-webkit-opacity:1;
	-o-opacity:1;
	opacity:1;
}
.index_recommend .recommend_left .special_list{
	width:590px;
	height:390px;
	border:1px solid #dedede;
}
.index_recommend .recommend_left .item_img{
	width:590px;
	height:390px;
	float:left;
}
.index_recommend .recommend_left a:hover .item_info{
	bottom:0;
}
.index_recommend .recommend_m .item_title{
	font-size:14px;
	height:15px;
	line-height:15px;
	padding:12px 15px;
}
.index_recommend .recommend_right .item_title{
	padding:8px 15px;
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.index_recommend .recommend_left .other_info{
  	width:588px;
  	height:46px;
}
.index_recommend .recommend_right .other_info{
  	width:288px;
  	height:46px;
}
.index_recommend .recommend_left .other_info .every_info.info_deal ,
.index_recommend .recommend_left .other_info .every_info.info_support {
	width:80px;
}
.index_recommend .recommend_right .other_info .every_info.info_deal ,
.index_recommend .recommend_right .other_info .every_info.info_support {
	width:68px;
}
.index_recommend .recommend_left .other_info .every_info.info_deal{
	margin-left:75px;
}
.index_recommend .recommend_left .other_info .every_info.info_support{
	margin-right:75px;
}
.index_recommend .recommend_right .other_info .every_info.info_deal{
	margin-left:26px;
}
.index_recommend .recommend_right .other_info .every_info.info_support{
	margin-right:26px;
}
.index_recommend .recommend_left .other_info .every_info.info_dollar{
	width:278px;
}
.index_recommend .recommend_right .other_info .every_info.info_dollar{
	width:100px;
}
.index_recommend .recommend_right{
	width:591px;
	overflow:hidden;
}
.index_recommend .recommend_right li ,
.index_recommend .recommend_right li a ,
.index_recommend .recommend_right li img{
	width:285px;
	height:186px;
	display:block;
	overflow:hidden;
}
.index_recommend .recommend_right li{
	float:left;
	display:inline;
	border:1px solid #dedede;
	margin:0 17px 16px 0;
	overflow:hidden;
}
.index_recommend .recommend_right li.last{
	margin-right:0;
}
.index_recommend .recommend_right li.mb0{
	margin-bottom:0;
}
/* index_recommend 结束 */

/* index_sum 开始 */
.index_sum .sum_wrap{
	width:1200px;
	height:60px;
	overflow:hidden;
	background:#fff;
	margin:0 auto;
}
.index_sum li{
	position:relative;
	width:228px;
	height:60px;
	line-height:60px;
	overflow:hidden;
	float:left;
	color:#7c7c7c;
	padding-left:42px;
}
.index_sum li.sum_money{
	width:348px;
}
.index_sum li span{
	font-size:26px;
	font-weight:bold;
	padding-right:11px;
	margin-left:15px;
	float:left;
}
.index_sum li.sum_money span{
	color:#ff7c24;
}
.index_sum li.sum_success span{
	color:#55acef;
}
.index_sum li.sum_online span{
	color:#52b049;
}
.index_sum li.sum_online span{
	color:#ff889c;
}
.index_sum li i{
	position:absolute;
	top:13px;
	left:0;
	width:37px;
	height:37px;
	display:block;
	background:url(../images/index_top_count.png) no-repeat;
}
.index_sum li.sum_success i{
	background-position:0 -42px;
}
.index_sum li.sum_online i{
	background-position:0 -84px;
}
.index_sum li.sum_user i{
	background-position:0 -126px;
}
/* index_sum 结束 */

/* index_new 开始 */
.index_new .index_title{
	background:url(../images/all.png) 0 -440px no-repeat;
	padding-left:95px;
}

.index_new .type_2_title{
	background:url(../images/img_title.png) 0 0px no-repeat;
	padding-left:95px;
}
.index_new .type_3_title{
	background:url(../images/img_title.png) 0 -41px no-repeat;
	padding-left:95px;
}
.index_new .type_4_title{
	background:url(../images/img_title.png) 0 -83px no-repeat;
	padding-left:95px;
}
.index_hot .index_title{
	background:url(../images/all.png) 0 -471px no-repeat;
	padding-left:95px;
}
/* index_new 结束 */

/* 推荐的公司 开始 */
.company_list{
	background: #f4f6fa;
 	padding: 30px 0 40px;
  	margin: 0;
}
.company_list .container{
	width: 1200px;
}
.company_list .list_head {
  text-align: center;
}
.company_list .list_head .name {
  position: relative;
  display: inline-block;
  font-size: 22px;
  line-height: 48px;
  border-bottom: 2px solid #2077ca;
}
.company_list .list_content {
  margin-top: 40px;
  position: relative;
}
.company_list .list_content .company_slide_arrow a {
  position: absolute;
  display: block;
  font-size: 40px;
  top: 80px;
  color: #ddd;
  z-index:999;
  display:block;
  width:26px;
  height:34px;
  background-image:url(../images/finance/icon_fy.png);
  background-repeat:no-repeat;
  transition: inherit;
  -moz-transition: inherit;
  -webkit-transition: inherit;
  -o-transition: inherit;
}
.company_list .list_content .company_slide_arrow_left {
  left: 10px;
  background-position:0 0;
}
.company_list .list_content .company_slide_arrow_left:hover{
  background-position:0 -34px;
}
.company_list .list_content .company_slide_arrow_right {
  right: 10px;
  background-position:-26px 0;
}
.company_list .list_content .company_slide_arrow_right:hover {
  background-position:-26px -34px;
}
.company_list .list_content .company_slide_container {
  width: 1080px;
  margin: 0 auto;
}
.company_list .list_content .feed_container {
  width: 360px;
  margin: 0 15px;
  float: left;
}
.company_list .list_content .feed {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: #fff;
  width: 330px;
  height:220px;
  margin: 0 15px;
  float: left;
}
.company_list .list_content .feed_head {
  height:72px;
  padding: 20px;
  position: relative;
  overflow:hidden;
  border-bottom: 1px solid #e7e7e7;
}
.company_list .list_content .feed_head_logo {
  display: block;
  float: left;
  z-index: 2;
  width:72px;
  height:72px;
}
.company_list .list_content .feed_head_logo img {
  width: 70px;
  height: 70px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}
.company_list .list_content .feed_head_name {
  display: block;
  margin-left: 80px;
  font-size: 17px;
  line-height: 30px;
  color: #000;
  z-index: 2;
}
.company_list .list_content .feed_head_desc {
  display: block;
  margin-left: 80px;
  font-size: 13px;
  line-height: 22px;
  color: #6e6e6e;
  z-index: 2;
}
.company_list .list_content .feed_list {
  width: 220px;
  margin-top: 20px;
  margin-left: 85px;
  margin-bottom: 20px;
  border-left: 1px solid #e8e8e8;
  font-size: 14px;
}
.company_list .list_content .feed_list .feed_item {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2em;
}
 .company_list .list_content .feed_list .feed_item .item_date {
  position: absolute;
  left: -68px;
}
 .company_list .list_content .feed_list .feed_item .item_dot {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #5aabf1;
  border-radius: 3px;
  left: -4px;
  top: 10px;
}
 .company_list .list_content .feed_list .feed_item .item_detail {
  padding-left: 15px;
}
.company_list .list_content .feed_list .feed_item .item_detail .user_icon {
  display: block;
  float: left;
  position: relative;
}
.company_list .list_content .feed_list .feed_item .item_detail img {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}
 .company_list .list_content .feed_list .item_finance_start {
  margin-bottom: 20px;
}
.company_list .list_content .feed_list .feed_item .item_detail .user_event {
  margin-left: 35px;
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
/* 推荐的公司 结束 */