/* 天使投资人 开始 */
.xqmain {
	width:1200px;
	margin:20px auto;
	background:#fff;
	overflow:hidden;
}
.invester_all .col_a {
	position:relative;
	border-bottom: 2px solid #d4d4d4;
	height:55px;
	line-height:55px;
	padding-left:30px;
	font-size:24px;
	margin-bottom:10px;
	overflow: hidden;
}
.invester_all .col_a i{
	position:absolute;
	left:0;
	top:22px;
	width:18px;
	height:16px;
	background: url(../images/all.png) 0 -26px no-repeat;
	display:block;
}
.invester_all .con2 {
	width:800px;
	height:auto;
	overflow:hidden;
	padding:0;
}
.invester_all .con2_l {
	position:relative;
	float: left;
	height:38px;
	line-height:38px;
	font-size: 16px;
	padding-left: 12px;
	color: #666;
}
.invester_all .con2_l i{
	position:absolute;
	left:0;
	top:13px;
	width:5px;
	height:10px;
	background: url(../images/all.png) -37px -54px no-repeat;
	display:block;
}
.invester_all .con2_r {
	float: right;
	width:698px;
}
.invester_all .con2_r .navtext ,
.invester_all .con2_r .btn_select{
	margin: 0 8px 8px 0;
}
.invester_all .con2_r .navtext {
	height:37px;
	line-height:37px;
	display: block;
	float: left;
	background: #f6f6f6;
	padding:0 20px;
	font-size: 15px;
	color: #777;
}
.invester_all .con2_r .navtext:hover {
	color:#fff;
	text-decoration:none;
}
.invester_all .con2_r .con3 {
	color:#fff;
	background:#0099ff;
}
.invester_all .con2_r .other_area{
	height:37px;
	line-height:37px;
	float:left;
}
.invester_all .con5 {
	float:left;
	border:1px solid #d4d4d4;
	width:338px;
	height:126px;
	padding:25px;
	margin:0 20px 25px 0;
}
.invester_all .mr0{margin-right:0}
.invester_all .con5_l {
	float:left;
	width:94px;
	margin-right:25px;
	text-align: center;
}
.invester_all .con5_r {
	float:left;
	width:219px;
}
.invester_all .con5_l img {
	border:1px solid #d4d4d4;
	width:90px;
	height:90px;
	padding:1px;
	margin-bottom:10px;
}
.invester_all .con5_r .name{
	height:26px;
	line-height:26px;
	overflow:hidden;
}
.invester_all .con5_r .sub {
	width:100%;
	line-height:22px;
	color:#666;
	text-align:left;
	margin:0;
	overflow:hidden;
}
.invester_all .btn_1 {
	background: #09F;
	border: none;
	padding: 5px 17px 6px 17px;
	color: #fff;
	cursor: pointer;
}
.invester_all .col_c {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	clear: both;
}
.invester_all .col_c span {
	display:block;
	float:left;
	height:50px;
	line-height:50px;
	font-size:24px;
}
.invester_all .con9 {
	margin: 30px 0;
	overflow:hidden;
}
.invester_all .con9 .l {
	float: left;
	text-align: center;
}
.invester_all .con9 .l img {
	border:1px solid #d4d4d4;
	width:60px;
	height:60px;
	padding: 1px;
	margin-bottom:7px;
}
.invester_all .con9 .r {
	float: right;
	width: 240px;
}
.invester_all .con9 .name {
	height:30px;
	line-height:30px;
	overflow: hidden;
}
.invester_all .con9 .text {
	line-height: 27px;
	color:#666;
}
.invester_all .con9 .text a{
	color:#666;
}
.invester_all .con9 .text a:hover{
	text-decoration:underline;
}

.invester_all .xqmain_left{
	width:850px;
	margin-right:20px;
	padding:0;
	float:left;
}
.invester_all .xqmain_right{
	width:330px;
	padding:0;
	float:right;
}
.invester_all .success_item_box{
	width:328px;
	border:1px solid #e5e5e5;
	overflow:hidden;
}
.invester_all .success_item_box h3{
	height:43px;
	line-height:43px;
	padding-left:10px;
	border-bottom:1px solid #e5e5e5;
}
.invester_all .success_item_box h3 i.stars_investor{
	width:29px;
	height:32px;
	float:left;
	background:url(../images/all.png) -56px -366px no-repeat;
}
.invester_all .xqmain_right .success_item_box .text{
	padding:20px 15px 15px;
	overflow:hidden;
}
.invester_all .success_item_box .user_img{
	padding:0;
	width:52px;
	height:52px;
	margin-right:15px;
	margin-top:10px;
}
.invester_all .invester_table .user_text_1 ,
.invester_all .invester_table .user_text_2 ,
.invester_all .invester_table .user_text_3 {
	margin-bottom:5px;
}
.invester_all .success_item_box .user_text{
	width:228px;
}
.invester_all .success_item_box .user_img ,
.invester_all .success_item_box .user_img a ,
.invester_all .success_item_box .user_img img {
	width:52px;
	height:52px;
	display:block;
}
.invester_all .success_item_box .user_text .btn_recommend_project{
	margin:0;
	float:right;
}
.invester_all .success_item_box .success_item ,
.invester_all .success_item_box .success_item img{
	width:64px;
	height:64px;
	overflow:hidden;
	-moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}
.invester_all .success_item_box .success_item{
	display:inline;
	float:left;
	margin:0 5px 10px;
}
.invester_all .success_item_box .btn_recommend_project{
	width:63px;
	height:22px;
	line-height:22px;
	border:1px solid #e5e5e5;
}

.invester_all .new_investor_box li{
	margin-bottom:5px;
	overflow:hidden;
}
.invester_all .success_item_box .user_img ,
.invester_all .new_investor_box .user_img{
	border:0;
}
.invester_all .new_investor_box .user_img{
	margin-top:0;
}
.invester_all .new_investor_box .user_text{
	height:47px;
	padding-top:6px;
}
.invester_all .new_investor_box li .line{
	width:246px;
	height:24px;
	margin:0 26px;
	border-left:2px solid #ffdad4;
}
/* 天使投资人 结束 */