/* enquiry_index 开始 */
.mod_lf{ width:45%; margin-right:5%; }
.mod_rt{ width:50%; }
.chance_left h3{
	width:100%;
	height:30px;
	line-height:30px;
	color:#fff;
	font-weight:normal;
}
.chance_left .text{
	width:100%;
	height:40px;
	line-height:40px;
	background:#fff;
	border-top:0;
	padding:0;
	display:block;
}
/* enquiry_index 结束 */

.btn_count{
	width:30px;
	height:30px;
	line-height:30px;
	background:#4dbdf5;
	text-align:center;
	color:#fff;
	display:inline-block;
	font-size:20px;
	border-radius:3px;
}
.ui_small_list li.list_num .input_lable{
	height:30px;
	line-height:30px;
}
.ui_small_list li.list_num .textbox{
	padding:15px 8px;
}