.my_project ul{border:0;background:none;padding:0;}
.my_project .ul_block ul{border:0;}
.my_project .ul_block ul li{
    height:auto;
    line-height:100%;
    margin-bottom:10px;
    background:#fff;
}
.input_lable{text-align:left}
.info_view{
    margin-bottom:10px;
    display:block;
    float:left;
}
.textareabox{
    border:1px solid #ddd;
    width:100%;
    height:100px;
    padding:5px;
}
.mod_main{
    padding:0 10px;
}
.my_project ul li:last-child{
    border-bottom:1px solid #e5e5e5 !important;
}