
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dituxuexiao:before { content: "\e624"; }
.icon-dian:before { content: "\e607"; }
.icon-anzhuo:before { content: "\e600"; }
.icon-shouji:before { content: "\e621"; }
.icon-biaoqian:before { content: "\e613"; }
.icon-qq:before { content: "\e615"; }
.icon-tubiao8:before { content: "\e61a"; }
.icon-tubiao10:before { content: "\e61b"; }
.icon-weizhi:before { content: "\e619"; }
.icon-xinlangweibo:before { content: "\e60f"; }
.icon-msnui-downmini:before { content: "\e61c"; }
.icon-msnui-downmini1:before { content: "\e61d"; }
.icon-icondzje:before { content: "\e60a"; }
.icon-yonghu:before { content: "\e617"; }
.icon-weixin:before { content: "\e610"; }
.icon-sixin:before { content: "\e601"; }
.icon-pingguo:before { content: "\e602"; }
.icon-chaoshi:before { content: "\e625"; }
.icon-16:before { content: "\e606"; }
.icon-jia:before { content: "\e60e"; }
.icon-bianji:before { content: "\e60c"; }
.icon-guanbi:before { content: "\e604"; }
.icon-lianjie:before { content: "\e612"; }
.icon-wenjuandiaocha:before { content: "\e61e"; }
.icon-wentifankui:before { content: "\e605"; }
.icon-fankui:before { content: "\e603"; }
.icon-qunliao:before { content: "\e608"; }
.icon-yonghutouxiang:before { content: "\e618"; }
.icon-peiziiconfont07:before { content: "\e609"; }
.icon-gongjiao:before { content: "\e626"; }
.icon-mail:before { content: "\e616"; }
.icon-tubiao1weizhiditu:before { content: "\e614"; }
.icon-iconfontjia:before { content: "\e60d"; }
.icon-ditie:before { content: "\e627"; }
.icon-icon066:before { content: "\e611"; }
.icon-zhifufangshi:before { content: "\e60b"; }
.icon-yinxingduo:before { content: "\e628"; }
.icon-iconfonticonfontclose:before { content: "\e61f"; }
.icon-shouye:before { content: "\e620"; }
.icon-yunyingshuju:before { content: "\e622"; }
.icon-weizhi1:before { content: "\e623"; }
