.invest {
	margin: 0 7px;
}
.invest_tit {
	}
.invest_tit {
	height: 30px;
	width: 100%;
	border: none;
	font-size:15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.invest_tit .State {
	color: #fff;
	line-height: 30px;
	padding: 0 10px;
}
.invest_tit .verticalline {
	height: 11px;
	display: inline-block;
	border-right: 1px solid #fff;
}
.invest_tit .sub_name {
	line-height: 30px;
	color: #fff;
	padding: 0 10px;
}
.gray {
	background: #b5b5b5;
}
.content_list span:nth-child(1) {
	padding: 0px;
}
.detail_tit {
	margin: 0 10px;
}
.detail_tit h3 {
	padding-top: 3px;
	text-align: center;
	width: 100%;
	line-height: 35px;
	font-size: 16px;
}
.detail_tit span {
	display: block;
	width: 100%;
	text-align: center;
	height: 26px;
	line-height: 26px;
	border-radius:3px;
	background: #f4f4f4;
	font-size: 13px;
}
.detail_list ul li {
	color: #3f3e3e;
	font-size: 14px;
	border-bottom:1px solid #f2f2f2;
	margin: 0 10px;
	position: relative;
}
.detail_list ul li label {
	width: 75px;
	height: 35px;
	line-height: 35px;
	float: left;
}
.detail_list .list_con {
	height: 35px;
	line-height: 35px;
	margin-left: 75px;
}
.detail_Orange {
	color: #eb8327;
}
.main_font {
	color:#b6b6b6;
}
.aggregate {
	background:#fff;
	padding:10px;
}
.aggregate .money {
	float:right;
	font-size:18px;
	line-height:38px;
}
.aggregate .total {
	float:left;
	fofont-siz:16px;
	line-height:25px;
}
.recharge {
	background: none repeat scroll 0 0 #ff8400;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	float: right;
	font-size: 14px;
	height: 31px;
	line-height: 31px;
	margin: 2px 0;
	text-align: center;
	width: 70px;
	font-weight: 700;
}
.ui_width {
	width:90%;
	height:22px;
	line-height:20px;
}
.money h1 {
	display: inline-block;
	font-size: 38px;
}
.money h2 {
	display: inline-block;
	font-size: 22px;
}
.reset_pay_pwd .recharge {
	width:100px;
	float:right;
	margin-right:-100px;
}
.reset_pay_pwd .list_con {
	margin-right:100px;
}
.nun_choose .Minus,.nun_choose .Plus {
	height:30px;
	line-height:30px;
	width:30px;
	border:1px solid #cbcbcb;
	text-align:center;
	font-size:12px;
	color:#878787;
	display:block;
	background:#fff;
}
.nuns {
	width:45px;
	line-height:34px;
	border-bottom:1px solid #cbcbcb;
	border-top:1px solid #cbcbcb;
	text-align:center;
	color:#878787;
}
.nun_choose .Minus {
	border-radius:3px 0 0 3px;
}
.nun_choose .Plus {
	border-radius:0px 3px 3px 0px;
}
#deal-intro .deal-rf .moneybox li {
	color:#888;
	height:30px;
	line-height:30px;
	text-align:right;
	border-bottom:1px solid #EEEEEE
}
#deal-intro .deal-rf .moneybox li span.t {
	display:block;
	float:left;
	width:90px;
	color:#999;
	text-align:left;
}
#deal-intro .deal-rf .touzbox .unit {
	color:#666;
	right:10px;
	top:5px;
	color:#999 }
#deal-intro .deal-rf .touzbox input.f-input {
	border:1px solid #B7D7F3;
}
#deal-intro .deal-rf .c_number-box {
	line-height:36px;
}
#deal-intro .deal-rf .c_number-box .tz_link {
	margin-top:0px;
}
#deal-intro .deal-rf .touzbox .c_number {
	float:left;
	font-size:16px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	font-weight:bolder;
	border:1px solid #e0e0e0;
	background:#fff;
	line-height:34px;
	height:34px;
	width:24px;
	text-align:center;
}
.ui-datepicker {
	padding: 0.2em 0.2em 0;
	width: 180px;
	font-size:12px;
}
.ui-datepicker a,.ui-datepicker a:hover {
	text-decoration:none;
}
.ui-datepicker .ui-datepicker-header {
	padding: 0.2em 0;
	position: relative;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	height: 1.8em;
	position: absolute;
	top: 2px;
	width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: block;
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}
.ui-datepicker .ui-datepicker-title {
	line-height: 1.8em;
	margin: 0 2.3em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 12px;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	border-collapse: collapse;
	font-size: 12px;
	margin: 0 0 0.4em;
	width: 100%;
}
.ui-datepicker th {
	border: 0 none;
	font-weight: bold;
	padding: 0.7em 0.3em;
	text-align: center;
}
.ui-datepicker td {
	border: 0 none;
	padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: 0.2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	border-bottom: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	margin: 0.7em 0 0;
	padding: 0 0.2em;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	cursor: pointer;
	float: right;
	margin: 0.5em 0.2em 0.4em;
	overflow: visible;
	padding: 0.2em 0.6em 0.3em;
	width: auto;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	margin: 0 auto 0.4em;
	width: 95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
}
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	left: auto;
	right: 2px;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	left: auto;
	right: 1px;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width: 1px;
	border-right-width: 0;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 1px;
	border-right-width: 0;
}
.ui-datepicker-cover {
	display: block;
	height: 200px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 200px;
	z-index: -1;
}
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
}
.ui-widget .ui-widget {
	font-size: 12px;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
}
.ui-widget-content {
	background: #FFFFFF;
	border: 1px solid #AAAAAA;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	background: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #E6E6E6;
	border: 1px solid #D3D3D3;
	color: #555555;
	font-weight: normal;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #DADADA;
	border: 1px solid #999999;
	color: #212121;
	font-weight: normal;
}
.ui-state-hover a, .ui-state-hover a:hover {
	color: #212121;
	text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: #FFFFFF;
	border: 1px solid #AAAAAA;
	color: #212121;
	font-weight: normal;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-widget *:active {
	outline: medium none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: #FBF9EE;
	border: 1px solid #FCEFA1;
	color: #363636;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	background: #FEF1EC;
	border: 1px solid #CD0A0A;
	color: #CD0A0A;
}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
	color: #CD0A0A;
}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
	color: #CD0A0A;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
	font-weight: normal;
	opacity: 0.7;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	background-image: none;
	opacity: 0.35;
}
.ui-icon {
	cursor:pointer;
	height: 16px;
	width: 16px;
}
.ui-icon-carat-1-n {
	background-position: 0 0;
}
.ui-icon-carat-1-ne {
	background-position: -16px 0;
}
.ui-icon-carat-1-e {
	background-position: -32px 0;
}
.ui-icon-carat-1-se {
	background-position: -48px 0;
}
.ui-icon-carat-1-s {
	background-position: -64px 0;
}
.ui-icon-carat-1-sw {
	background-position: -80px 0;
}
.ui-icon-carat-1-w {
	background-position: -96px 0;
}
.ui-icon-carat-1-nw {
	background-position: -112px 0;
}
.ui-icon-carat-2-n-s {
	background-position: -128px 0;
}
.ui-icon-carat-2-e-w {
	background-position: -144px 0;
}
.ui-icon-triangle-1-n {
	background-position: 0 -16px;
}
.ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}
.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
	background-position: -48px -16px;
}
.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}
.ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}
.ui-icon-triangle-1-w {
	background-position: -96px -16px;
}
.ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}
.ui-icon-arrow-1-n {
	background-position: 0 -32px;
}
.ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}
.ui-icon-arrow-1-e {
	background-position: -32px -32px;
}
.ui-icon-arrow-1-se {
	background-position: -48px -32px;
}
.ui-icon-arrow-1-s {
	background-position: -64px -32px;
}
.ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}
.ui-icon-arrow-1-w {
	background-position: -96px -32px;
}
.ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n {
	background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w {
	background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}
.ui-icon-arrow-4 {
	background-position: 0 -80px;
}
.ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}
.ui-icon-extlink {
	background-position: -32px -80px;
}
.ui-icon-newwin {
	background-position: -48px -80px;
}
.ui-icon-refresh {
	background-position: -64px -80px;
}
.ui-icon-shuffle {
	background-position: -80px -80px;
}
.ui-icon-transfer-e-w {
	background-position: -96px -80px;
}
.ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}
.ui-icon-folder-collapsed {
	background-position: 0 -96px;
}
.ui-icon-folder-open {
	background-position: -16px -96px;
}
.ui-icon-document {
	background-position: -32px -96px;
}
.ui-icon-document-b {
	background-position: -48px -96px;
}
.ui-icon-note {
	background-position: -64px -96px;
}
.ui-icon-mail-closed {
	background-position: -80px -96px;
}
.ui-icon-mail-open {
	background-position: -96px -96px;
}
.ui-icon-suitcase {
	background-position: -112px -96px;
}
.ui-icon-comment {
	background-position: -128px -96px;
}
.ui-icon-person {
	background-position: -144px -96px;
}
.ui-icon-print {
	background-position: -160px -96px;
}
.ui-icon-trash {
	background-position: -176px -96px;
}
.ui-icon-locked {
	background-position: -192px -96px;
}
.ui-icon-unlocked {
	background-position: -208px -96px;
}
.ui-icon-bookmark {
	background-position: -224px -96px;
}
.ui-icon-tag {
	background-position: -240px -96px;
}
.ui-icon-home {
	background-position: 0 -112px;
}
.ui-icon-flag {
	background-position: -16px -112px;
}
.ui-icon-calendar {
	background-position: -32px -112px;
}
.ui-icon-cart {
	background-position: -48px -112px;
}
.ui-icon-pencil {
	background-position: -64px -112px;
}
.ui-icon-clock {
	background-position: -80px -112px;
}
.ui-icon-disk {
	background-position: -96px -112px;
}
.ui-icon-calculator {
	background-position: -112px -112px;
}
.ui-icon-zoomin {
	background-position: -128px -112px;
}
.ui-icon-zoomout {
	background-position: -144px -112px;
}
.ui-icon-search {
	background-position: -160px -112px;
}
.ui-icon-wrench {
	background-position: -176px -112px;
}
.ui-icon-gear {
	background-position: -192px -112px;
}
.ui-icon-heart {
	background-position: -208px -112px;
}
.ui-icon-star {
	background-position: -224px -112px;
}
.ui-icon-link {
	background-position: -240px -112px;
}
.ui-icon-cancel {
	background-position: 0 -128px;
}
.ui-icon-plus {
	background-position: -16px -128px;
}
.ui-icon-plusthick {
	background-position: -32px -128px;
}
.ui-icon-minus {
	background-position: -48px -128px;
}
.ui-icon-minusthick {
	background-position: -64px -128px;
}
.ui-icon-close {
	background-position: -80px -128px;
}
.ui-icon-closethick {
	background-position: -96px -128px;
}
.ui-icon-key {
	background-position: -112px -128px;
}
.ui-icon-lightbulb {
	background-position: -128px -128px;
}
.ui-icon-scissors {
	background-position: -144px -128px;
}
.ui-icon-clipboard {
	background-position: -160px -128px;
}
.ui-icon-copy {
	background-position: -176px -128px;
}
.ui-icon-contact {
	background-position: -192px -128px;
}
.ui-icon-image {
	background-position: -208px -128px;
}
.ui-icon-video {
	background-position: -224px -128px;
}
.ui-icon-script {
	background-position: -240px -128px;
}
.ui-icon-alert {
	background-position: 0 -144px;
}
.ui-icon-info {
	background-position: -16px -144px;
}
.ui-icon-notice {
	background-position: -32px -144px;
}
.ui-icon-help {
	background-position: -48px -144px;
}
.ui-icon-check {
	background-position: -64px -144px;
}
.ui-icon-bullet {
	background-position: -80px -144px;
}
.ui-icon-radio-off {
	background-position: -96px -144px;
}
.ui-icon-radio-on {
	background-position: -112px -144px;
}
.ui-icon-pin-w {
	background-position: -128px -144px;
}
.ui-icon-pin-s {
	background-position: -144px -144px;
}
.ui-icon-play {
	background-position: 0 -160px;
}
.ui-icon-pause {
	background-position: -16px -160px;
}
.ui-icon-seek-next {
	background-position: -32px -160px;
}
.ui-icon-seek-prev {
	background-position: -48px -160px;
}
.ui-icon-seek-end {
	background-position: -64px -160px;
}
.ui-icon-seek-start {
	background-position: -80px -160px;
}
.ui-icon-seek-first {
	background-position: -80px -160px;
}
.ui-icon-stop {
	background-position: -96px -160px;
}
.ui-icon-eject {
	background-position: -112px -160px;
}
.ui-icon-volume-off {
	background-position: -128px -160px;
}
.ui-icon-volume-on {
	background-position: -144px -160px;
}
.ui-icon-power {
	background-position: 0 -176px;
}
.ui-icon-signal-diag {
	background-position: -16px -176px;
}
.ui-icon-signal {
	background-position: -32px -176px;
}
.ui-icon-battery-0 {
	background-position: -48px -176px;
}
.ui-icon-battery-1 {
	background-position: -64px -176px;
}
.ui-icon-battery-2 {
	background-position: -80px -176px;
}
.ui-icon-battery-3 {
	background-position: -96px -176px;
}
.ui-icon-circle-plus {
	background-position: 0 -192px;
}
.ui-icon-circle-minus {
	background-position: -16px -192px;
}
.ui-icon-circle-close {
	background-position: -32px -192px;
}
.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}
.ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}
.ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}
.ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}
.ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}
.ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}
.ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}
.ui-icon-circle-zoomin {
	background-position: -176px -192px;
}
.ui-icon-circle-zoomout {
	background-position: -192px -192px;
}
.ui-icon-circle-check {
	background-position: -208px -192px;
}
.ui-icon-circlesmall-plus {
	background-position: 0 -208px;
}
.ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}
.ui-icon-circlesmall-close {
	background-position: -32px -208px;
}
.ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}
.ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}
.ui-icon-squaresmall-close {
	background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical {
	background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
}
.ui-corner-tl {
	-moz-border-radius-topleft: 4px;
}
.ui-corner-tr {
	-moz-border-radius-topright: 4px;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 4px;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 4px;
}
.ui-corner-top {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
}
.ui-corner-right {
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topright: 4px;
}
.ui-corner-left {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}
.ui-corner-all {
	-moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget-overlay {
	background: #AAAAAA;
	opacity: 0.3;
}
.ui-widget-shadow {
	-moz-border-radius: 8px 8px 8px 8px;
	background:#AAAAAA;
	margin: -8px 0 0 -8px;
	opacity: 0.3;
	padding: 8px;
}
#ui-datepicker-div {
	display:none;
}
.listbr {
	border-right: 1px dashed #d7d7d7;
	width: 1px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 16px;
}
.content_list {
	position: relative;
}
.content_list span {
	line-height: 20px;
	padding: 0;
}
.content_list span:nth-child(2) {
	padding: 0;
	line-height: 30px;
	font-size: 14px;
}
.lc_head {
	background: #fff;
}
.lc_head .content_list em {
	font-size: 15px;
}
.lc_head .content_list {
	padding: 8px 0;
}
.detail_list ul li {
	position: relative;
}
.pa {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 35px;
	line-height: 35px;
	z-index: 9;
}
.f_r {
	float: right;
}
.spmr80 {
	margin-right: 80px;
}
.search {
	border-radius: 5px;
	display: inline-block;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	top: 2px;
}
.search_btn {
	background: #3b95d3;
}
.search_btn_hover {
	background: #3b95d3;
}
.search_btn_active {
	background: #3b95d3;
}
.ckgd {
	display: block;
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #878787;
}
.index_content,.two_column {
	width: 100%;
}
.two_column {
	padding-left: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.two_column li {
	display: inline-block;
	width: 50%;
	height: 40px;
	line-height:40px;
	float: left;
	color: #878787;
	font-size: 14px;
}
.two_column .li {
	display: inline-block;
	width: 50%;
	height: 40px;
	line-height:40px;
	float: left;
	color: #878787;
	font-size: 14px;
}
.two_column em {
	font-size: 10px;
}
.two_column span {
	display: inline-block;
	float: left;
}
.two_column label {
	float: left;
	padding-right:6px;
}
.two_column span,.cry span {
	display: inline-block;
	float: left;
}
.two_column label,.cry label {
	float: left;
	padding-right:6px;
}
.bor_d {
	border-top: 1px dashed #e3e3e3;
}
.b_box {
	margin: 5px;
}
.b_box a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.buyrecord {
	border-radius: 5px;
	display: inline-block;
	width: 45%;
	height: 40px;
	line-height: 40px;
	color: #3b95d3;
	border: 1px solid #3b95d3;
	font-size: 18px;
	text-align: center;
	margin-right: 10%;
	float: left;
}
.redeemmng {
	border-radius: 5px;
	display: inline-block;
	width: 45%;
	height: 40px;
	line-height: 40px;
	color: #fe5656;
	border: 1px solid #fe5656;
	font-size: 18px;
	text-align: center;
	float: left;
}
.detail_list ul li.record_tit {
	color: #878787;
	line-height: 46px;
}
.record_tit span {
	display: inline-block;
	padding: 0 10px;
}
.inputbr {
	border: 1px solid #878787;
	width: 100%;
	height: 28px;
	line-height: 28px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 5px;
}
.twolist {
	padding: 10px 0;
	margin:0 5px;
}
.l_list {
	position: absolute;
	left: 0;
	top: 10px;
	width: 45%
}
.m_list {
	width: 10%;
	margin: 0 45%;
	text-align: center;
	line-height: 28px;
	color: #878787;
	z-index: 3;
}
.r_list {
	position: absolute;
	right: 0;
	top: 10px;
	width: 45%
}
.full_li ul li {
	position: relative;
	color: #878787;
	font-size: 14px;
	border-bottom: 1px solid #f2f2f2;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.paddingbr {
	padding: 5px 10px;
}
.full_li .tit_img {
	width: 75px;
	height: 75px;
	padding-right: 15px;
}
.full_li .tit_img img {
	width: 75px;
	height: 75px;
}
.full_li .tit_con {
	margin-left:70px;
}
.full_li .tit_con span {
	line-height: 20px;
	color: #fe5858;
	padding-top: 5px;
}
.full_li ul li label {
	width: 100px;
	height: 35px;
	line-height: 35px;
	float: left;
}
.full_li .list_con {
	line-height: 20px;
	margin-left: 101px;
}
.brinput {
	border: 1px solid #878787;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 5px;
}
.sp_r {
	float: right;
	height: 35px;
	line-height: 35px;
}
.garyback {
	border-radius: 5px;
	display: inline-block;
	width: 45%;
	height: 40px;
	line-height: 40px;
	color: #878787;
	border: 1px solid #878787;
	font-size: 18px;
	text-align: center;
	float: left;
}
.useqs {
	color: #3b95d3;
	font-size: 18px;
	line-height: 30px;
}
.qstit {
	padding: 8px 0;
}
.tit_img , .tit_img img{
	width:80px;
	height:80px;
}