body{background:#fff;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.tab-model {
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  background: #f2f2f2;
}
.tab-model>li {
  float: left;
}
.tab-model>li>a {
  width: 160px;
  text-align: center;
  margin-right: 0;
  border-radius: 0;
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #e5e5e5;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.tab-model>li.active strong {
  font-weight: 700;
}
.tab-model>li,.tab-model>li a{
	position: relative;
  	display: block;
}
.tab-model>li.active a, .tab-model>li.active a:hover, .tab-model>li.active a:active, .tab-model>li.active a:focus {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-color: #eee;
}

.financing-list {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
  background: #fff;
}
.uc_table{border:1px solid #e5e5e5;}
.uc_table thead th{
	background:#f3f3f3;
	color:#333;
}
.uc_table td {
	font:13px/1.5 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53';
}
.uc_table .avatar{
	float:left;
	margin-right:15px;
}
.uc_table .avatar img{
	-moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
}
.uc_table a{color: #38a9fb;}
.uc_table .info a{
	font-weight: 700;
  	line-height: 22px;
}
.uc_table .info .des {
  line-height: 20px;
  margin-top: 5px;
}
.uc_table tr td{
	border-bottom:1px solid #e5e5e5;
}
.uc_table tr.even td,
.uc_table tr td{
	background:#fff;
}